@model EntityLayer.Concrete.SocialMedia
@{
    Layout = "/Views/Shared/_NewAdminLayout.cshtml";
    ViewData["Title"] = "EditExperience";
}

<div class="card-header border-0">
    <h3 class="mb-0">Hesap Düzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditSocialMedia", "SocialMedia", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SocialMediaID)
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Url</label>
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    <br />
    <label>İkon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
}
