@model EntityLayer.Concrete.WriterMessage
@{
    Layout = "/Views/Shared/_NewAdminLayout.cshtml";
    ViewData["Title"] = "AdminMessageDetails";
}

<div class="card-header border-0">
    <h3 class="mb-0">Mesaj Detay Sayfası</h3>
</div>

@Html.HiddenFor(x => x.WriterMessageId)
<br />
<label>Gönderen</label>
@Html.TextBoxFor(x => x.SenderName, new { @class = "form-control" })
<br />
<label>Alıcı</label>
@Html.TextBoxFor(x => x.ReceiverName, new { @class = "form-control" })
<br />
@Html.Label("Konu")
@Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
<br />
<label>Tarih</label>
@Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
<br />
<label>Mesaj</label>
@Html.TextAreaFor(x => x.Content, 10, 3, new { @class = "form-control" })
<br />
<a asp-action="ReceiverMessageList" class="btn btn-outline-success">Admin Gelen Mesajlar</a>
<a asp-action="SenderMessageList" class="btn btn-outline-warning">Admin Giden Mesajlar</a>